@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@layer components {
  .input-style {
    @apply w-full bg-slate-50 border-2 border-transparent p-4 rounded-2xl text-slate-900 focus:border-indigo-500 focus:bg-white outline-none transition-all placeholder:text-slate-300;
  }
}
